body{
    margin: 0;
}

/*this is used to stop the section at one section while scrolling*/
.container {
    height: 100vh;
    overflow-y: scroll; 
    scroll-snap-type: y mandatory; 
}

section{
    height: 100vh;
    scroll-snap-align: start; /*it stops at start of section*/
}

.about{
    background-color: rgb(236, 185, 236);
}

.skills{
    background-color: rgb(143, 218, 218);
}

.projects{
    background-color: rgb(135, 226, 196);
}
.resume{
    background-color: rgb(243, 207, 163);
}
.contact{
    background-color: rgb(107, 107, 183);
}